.not-found-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.no-page-text {
  color: #ffffff;
  font-size: 35px;
  font-family: 'Bree Serif';
}
@media screen and (min-width: 768px) {
  .no-page-text {
    font-size: 40px;
  }
}
